[user]
	email = 11620178+kjmeagher@users.noreply.github.com
	name = Kevin Meagher
[credential]
	helper = store
[pull]
	rebase = true
[push]
	default = simple
[remote "origin"]
	prune = true
[init]
	defaultBranch = main
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[pager]
	show = diff-so-fancy | less --tabs=1,5 -RFX
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

